.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Text h5 {
  margin: 3rem 0 0 0;
}

.Text h1 {
  color: #fff;
  font-size: 80px;
  line-height: 100px;
  margin: 1rem 0;
}

.ExploreButton {
  align-items: center;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  bottom: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 150px;
  position: absolute;
}

.ExploreButton h4 {
  color: var(--dark-blue);
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1.25px;
}
