.Crew {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Image {
  max-height: 14rem;
}

.Navigation {
  margin: 2rem 0;
}

.Navigation li {
  margin-right: 1rem;
}

.Navigation li div {
  aspect-ratio: 1;
  background-color: #979797;
  border-radius: 50%;
  height: 10px;
}

.Role {
  color: #909296;
  font-size: 1rem;
}

.Name {
  color: #fff;
  margin: 0.5rem 0 1rem 0;
}

@media (min-width: 768px) {
  .Image {
    bottom: 0;
    max-height: 33.25rem;
    order: 10;
    position: absolute;
  }

  .Navigation {
    order: 9;
  }

  .Nameplate,
  .Bio {
    padding: 0 9.7rem;
  }

  .Role {
    font-size: 1.5rem;
  }
}
