html {
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --line-break: #383b4b;
  --number-gray: #484951;
  font-size: 16px;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  color: var(--light-blue);
  text-align: center;
}

html,
body {
  text-transform: uppercase;
  width: 100vw;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
div,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
.sh1 {
  font-family: 'Bellefair', serif;
  font-style: normal;
  font-weight: normal;
}

h5,
p,
.sh2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
}
