html {
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  font-size: 16px;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  color: var(--light-blue);
  text-align: center;
}

html,
body {
  text-transform: uppercase;
  width: 100vw;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
.sh1 {
  font-family: 'Bellefair', serif;
  font-style: normal;
  font-weight: normal;
}

h5,
p,
.sh2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  color: #fff;
  font-size: 80px;
  line-height: 100px;
}

h2 {
  font-size: 100px;
}

h3 {
  color: #fff;
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 2.7px;
  line-height: auto;
}

p {
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
}

.sh1 {
  color: #fff;
  display: block;
  font-size: 28px;
}

.sh2 {
  display: block;
  font-size: 14px;
  letter-spacing: 2.35px;
}
